{require_otp_vsn, "16B"}.
{erl_opts, [
			{i, "deps/amqp_client/include"},
			{platform_define, "(linux|solaris|freebsd|darwin)", 'TEST'},
			%% warnings_as_errors,
            %% warn_untyped_record,

            warn_export_all,
            warn_unused_import
			]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.
{cover_enabled, true}.

{validate_app_modules, true}.

{sub_dirs, ["rel"]}.


{deps, [
	{amqp_client, ".*", {git, "https://github.com/olgeni/amqp_client.git", {branch, "master"}}},
	{riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {branch, "2.0"}}}
	]}.


